Multipart file with unicode filename

Hi,

I'm tracing a bug to send file via multipart and it seems reqwest implementation doesn't work sometimes when the file name contains special characters (e.g. space, unicode).

The part of code that causes the failure is found at https://docs.rs/reqwest/0.9.5/src/reqwest/multipart.rs.html#405-411.

According to [RFC7578 Section 4.2](https://tools.ietf.org/html/rfc7578#section-4.2) "Content-Disposition Header Field for Each Part":

>   NOTE: The encoding method described in [RFC5987], which would add a "filename*" parameter to the Content-Disposition header field, MUST NOT be used.

>    Some commonly deployed systems use multipart/form-data with file names directly encoded including octets outside the US-ASCII range. The encoding used for the file names is typically UTF-8, although HTML forms will use the charset associated with the form.

If I understand correctly, this means the implementation should not convert the filename using percent-encoding and just should just leave it as regular quoted utf-8.

I tested requesting the a unicode-named file using curl, and found it is able to upload the file to the server correctly using "filename=" with a quoted utf-8, where reqwest doesn't work for the same task. I traced the raw request using Charles, and found the only difference is on the filename encoding. I also tried to upload a pure ascii filename (without special chars), and reqwest handles it correctly.

I think #252 might be caused by the same issue. Also, in https://github.com/requests/requests/issues/2117 they discussed the same issue in python's requests 2.0 library.

Looks like multipart/form-data is quite the mess :)

Thanks for looking into this. It looks like that requests issue was eventually just closed without a resolution?

In https://github.com/requests/requests/issues/2117 they seemed to misunderstood RFC 5987. Indeed most message header field parameters do support both `parameter=` and `parameter*=` syntax, EXCEPT for `filename`. The exception is specified in RFC 7578, which they might have just overlooked.

requests actually [forward](https://github.com/requests/requests/blob/master/requests/models.py#L165) all these multipart header field handling to another library [urllib3](https://urllib3.readthedocs.io/en/latest/). The urllib3 library actually handle these parameters in a [different logic](https://github.com/urllib3/urllib3/blob/master/src/urllib3/fields.py#L35):

1. if the parameter's value contains any of '\\', '\r', or '\n', use percent encoding, i.e. `parameter*=` (rfc2231)
2. otherwise, use plain utf-8 text enclosed in quotes

They don't deal with `filename` as special case either. And - guess what? urllib3 has yet another set of related issue about multipart seemingly caused by the same problem: e.g. https://github.com/urllib3/urllib3/issues/900, https://github.com/urllib3/urllib3/pull/856.
