hostnames with curly braces cause reqwest to panic

Providing a URL like "http://{}" currently causes reqwest to panic with:

```
thread 'reqwest-internal-sync-runtime' panicked at 'a parsed Url should always be a valid Uri: InvalidUri(InvalidUriChar)', src/libcore/result.rs:997:5
```

Here's a full repro:

```rust
use reqwest;
use std::error::Error;
use url::Url;

fn main() -> Result<(), Box<dyn Error>> {
    let url: Url = "http://{}".parse()?; // apparently this is parseable?
    println!("hostname: {:?}", url.host());
    let res = reqwest::get(url)?;
    println!("status: {}", res.status());
    Ok(())
}
```

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0b9d1cd06a3f823788c18a3d641b30a8

`{}` doesn't seem like a particularly valid hostname, so I'm going to investigate whether the fault really lies with the url crate. Wanted to post here in the meantime, though.

I think I have the same problem. A url which could be parsed but subsequently fails in reqwest:

```
thread 'thread 'reqwest-internal-sync-runtimereqwest-internal-sync-runtime' panicked at '' panicked at 'a parsed Url should always be a valid Uri: InvalidUri(InvalidUriChar)a parsed Url should always be a valid Uri: InvalidUri(InvalidUriChar)', ', src/libcore/result.rssrc/libcore/result.rs::997997::55

note: Run with `RUST_BACKTRACE=1` environment variable to display a backtrace.
thread '<unnamed>' panicked at 'event loop thread panicked', /home/manfred/.cargo/registry/src/github.com-1ecc6299db9ec823/reqwest-0.9.18/src/client.rs:687:5
```

I just got bitten by this too.

Apparently

`https://${domain}${endpoint}/`

Gets parsed as a valid URL by the url crate, and not by hyper, which causes reqwest to panic. Repro (not involving reqwest) below:

```rust
/*
[dependencies]
url = "2.2.1"
hyper = "0.14.4"
*/

use url::Url;
use hyper::Uri;
use std::str::FromStr;

fn main() {
    let problematic = "https://${domain}${endpoint}/";

    let url = Url::from_str(&problematic).expect("url::Url failed");
    let uri = Uri::from_str(&problematic).expect("hyper::Uri failed");
}

# panics with: thread 'main' panicked at 'hyper::Uri failed: InvalidUri(InvalidUriChar)', src/main.rs:9:43
```

[RFC 1738 Section 2.2.](https://tools.ietf.org/html/rfc1738#section-2.2) names `{` and `}` as "unsafe" characters and that "All unsafe characters must always be encoded within a URL".

This tells me that this shouldn't really panic in `reqwest`, but rather escape the URL somehow before making a request. Perhaps the conversion here https://github.com/seanmonstar/reqwest/blob/c666b293a139d1d9d681115d1f5090622a240835/src/into_url.rs#L74 could be improved?

Or it might be an issue with url and/or hyper and how they treat the curly brace characters. 🤔 

For comparison, the requests library for Python interestingly escapes the entire URL before sending the request:

```
In [6]: try:
   ...:     requests.get("http://{test}/{test}")
   ...: except Exception as e:
   ...:     print(e.request.url)
   ...: 
http://%7Btest%7D/%7Btest%7D
```

@seanmonstar would you say this should be the desired behavior of `reqwest` too? I'm eager to contribute a PR.

And one more comment on this...

I have shuffled through current URL related standards:

- [IETF RFC 3986 ("Uniform Resource Identifier (URI): Generic Syntax")](https://tools.ietf.org/html/rfc3986)
- [WHATWG URL Standard](https://url.spec.whatwg.org/)

...and it seems that neither give `{` or `}` any special "global" treatment. In fact, the WHATWG standard is specific about which part of the URL should escape `{` and `}`: the [path part](https://url.spec.whatwg.org/#path-percent-encode-set).

Given all this, it seems that the `url` crate is doing the "right" thing by allowing such URLs, and correctly encoding the path part:

```rust
/*
[dependencies]
url = "2.2.1"
*/

use url::Url;
use std::str::FromStr;

fn main() {
    let url_curly_path = Url::from_str("https://httpbin.org/{endpoint}/").expect("url::Url failed");
    let url_curly_host = Url::from_str("https://{host}/{endpoint}/").expect("url::Url failed");
    println!("Curly path: {}", url_curly_path);
    println!("Curly host: {}", url_curly_host);
}

// prints:
Curly path: https://httpbin.org/%7Bendpoint%7D/
Curly host: https://{host}/%7Bendpoint%7D/
```

So this issue might be treated as a `hyper` crate bug (for not allowing an otherwise standards-compliant URL) or as a bug of reqwest itself (for not percent-encoding the URL passed on to hyper)... or actually, both.

Since @seanmonstar is the maintainer of both hyper and reqwest, I'd like your input here please :slightly_smiling_face: As I said, above, I'd be happy to contribute fixes.

RFC 3986 does seem to indicate `{` and `}` aren't allowed, technically:

```
  host        = IP-literal / IPv4address / reg-name
  reg-name    = *( unreserved / pct-encoded / sub-delims )
  unreserved  = ALPHA / DIGIT / "-" / "." / "_" / "~"
  sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
                    / "*" / "+" / "," / ";" / "="
```

At this point, I really don't love that there are so many different URL specs (and that the WHATWG spec is "living" makes it even more annoying to deal with). I'd probably lean towards defaulting to what curl does, whatever that is.